@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
button {
  cursor: pointer;
  outline: none;
  user-select: none;
  border:none;
  min-width: 88px;
  height: 36px;
  border-radius: $border-radius;
  margin: $margin;
  padding: 0 16px;
  font-size: $font-small-body;
  font-weight: 500;
  text-transform: uppercase;
  transition: $ease-out;
  background: $primary;
  color: white;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
  &:hover {
    background: shade($primary, 12%);
  }
  &:active {
    box-shadow: 3px 3px 2px 0 rgba(0,0,0,0.2);
  }
  &:disabled{
    color: rgba(#000, 0.26);
    background: rgba(#000, 0.12);
  }
  .icon {
    display: none;
  }
  @include respond-to(extra-small) {
    min-width: 36px;
    width: 36px;
    padding: $margin;
    span {
      display: none;
    }
    .icon {
      display: inline;
      width: 100%;
      height: 100%;
      fill: white
    }
  }
}

.button--logout {
  background: $red;
  @include respond-to(extra-small) {
    position: fixed;
    top: 0;
    right: 0;
    padding: $margin;
  }
}