/*noinspection CssUnknownTarget*/
* {
  font-family: $font-stack;
}
html {
  box-sizing: border-box;
  background: $primary-dark;
  color: $text-dark;
  font-size: $font-medium;
  font-weight: 400;
  height: 100%;
  word-break: break-all;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  height: 100%;
}

