// COLOR DEFINITIONS
$almost-black : #31343B;
$almost-white: #E5E6EA;

$yellow: #FCCC00;
$orange: #f67f00;
$red: #bc4747;

$light-blue: #90caf9;

$violet: #AB47BC;
$dark-violet: #4A148C;

// ACTUAL COLORS

$primary: $violet;
$primary-dark: $dark-violet;

$text-dark: $almost-black;
$text-light: $almost-white;

$warning: $yellow;
$error: $red;

// FONT STACK/SIZES

$font-stack: "Courier New", Courier, monospace;

$font-small: 12px;
$line-height-small: 20px;

$font-medium: 14px;
$line-height-medium: 24px;

// MARGINS

$margin: 6px;

// HEIGHTS/WIDTHS

$input-height: 36px;
$max-width: 700px;

// BORDER RADIUS

$border-radius: 2px;

// BOX SHADOW

$box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);


// TRANSITIONS

$linear:    0.3s linear;
$ease-out:  0.3s ease-out;
$quick-transition:  .15s ease-in-out