@import "variables";
@import "settings";
@import "utilities";
@import "buttons";

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $max-width;
  margin: auto;
}
input {
  display: block;
  width: 100%;
  height: $input-height;
  flex: 1 0 $input-height;
  padding: $margin $margin * 2;
  font-size: $font-medium;
  line-height: $line-height-medium;
  color: $text-dark;
  background: $light-blue;
  border: 1px solid $light-blue;
  border-radius: $border-radius;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin: $margin;
  &:focus {
    border-color: $light-blue;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  &::placeholder {
    color: $primary-dark;
    opacity: 0.9;
  }
}

p {
  color: $light-blue;
  font-size: $font-small;
  line-height: $line-height-small;
  margin: 0;
  span {
    color: $text-light;
  }
}
.info-message {
  color: $warning;
  span {
    color: inherit;
    font-weight: bold;
  }
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.control-box {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  .error {
    width: 100%;
    margin: $margin;
    word-break: normal;
  }
}
.error {
  color: $error;
  order: -1;
}
.chat-box {
  display: flex;
  flex-direction: column-reverse;
  flex: 1 1 auto;
  overflow-y: scroll;
  margin: 0 $margin;

  &::-webkit-scrollbar
  {
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  }
}